<!DOCTYPE html>
<html lang="en">
    <head>
        <title>displaCy</title>
    </head>

    <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
<figure style="margin-bottom: 6rem">
<div class="entities" style="line-height: 2.5; direction: ltr">
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical screening
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 station 5 for height and weight is extremely rude and unfriendly<br> <hr /> <br>It look quite messy for vehicle drivers at the entrance with many flowers that blocked the view. For safety purpose it should be removed.<br> <hr /> <br>FI very friendly<br> <hr /> <br>Here we go again...<br> <hr /> <br>2.4km is indoor.  No matter what please train for your 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ippt
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
.<br> <hr /> <br>free parking and complimentary gym training in the jungle, free food and clothes. Received 2 years free full time gym membership followed by 10 years part time membership.<br> <hr /> <br>Tmr 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
, Pls give me at least silver.<br> <hr /> <br>Water supply cut off mid way. When water was resumed, it was chalky in colour. Food tasted bland, seems to lack salt. Overall I give 5/5<br> <hr /> <br>Worst Day of My Life.<br> <hr /> <br>officer talk to you like you own them money be prepared and very hard to get there like middle of a village or something<br> <hr /> <br>Life of a nsman<br> <hr /> <br>I went there for my NS 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 today 29 August 8am... Here is what I went through:  Gate Entrance: Security Check &amp; 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Counter
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
, Take a Sticker Pass and just WALK THROUGH the gate... Don't be like me...I stood there thinking I can scan the …<br> <hr /> <br>whete you get rewarded for exercising<br> <hr /> <br>One of the most inconvenient 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    locations
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 I have ever seen. Terrible directions. Rude 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Expect this whole process to take hours. 100% not recommended.<br> <hr /> <br>Went inside the canteen is too small and nothing much inside there, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 may know who is doing well in here.<br> <hr /> <br>Bad 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br> <hr /> <br>Not bad a 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
.... provided your boss is not a d***....<br> <hr /> <br>Visited 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CPMB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical screening
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 were rude and unprofessional and wasted a lot of time.<br> <hr /> <br>Traumatic<br> <hr /> <br>The food is okay. Food in canteen serves breakfast and lunch. There is now a renovated toilet quite new and clean.<br> <hr /> <br>Much worse than the poor facilities are the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 running it<br> <hr /> <br>Great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to have your 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 Training. Instructors are professional.<br> <hr /> <br>Lack of public transport and far away from 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    clementi
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 mall.<br> <hr /> <br>Oneofthe 
<mark class="entity" style="background: #DDDFDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    fcc
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">FCC</span>
</mark>
 for 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ippt
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
<br> <hr /> <br>in the middle out of nowhere<br> <hr /> <br>Catch up with old buddies. NO PHOTOS ALLOWED!<br> <hr /> <br>Was here for pre-enlistment 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    screening
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
, a few Counselling sessions &amp; to answer a charge. Inconvenient 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
.<br> <hr /> <br>Bad 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br> <hr /> <br>Serve amazing and free food. Just remember to finish up and thank the uncles and aunties.<br> <hr /> <br>Note that entrance is now @ KCIII<br> <hr /> <br>So sheat! Treated like dirty pigs training to step on minefields<br> <hr /> <br>Just sent my son for the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    pre enlistment checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 this morning.  The 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    guard
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at the entrance couldn't give clear instructions.  Keep shouting when we got our son to alight since we couldn't drive further in. Hello please train your army …<br> <hr /> <br>Very hard to find cab or get a grab, also going out is a pain due to the road layout<br> <hr /> <br>It's an army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br> <hr /> <br>Ok<br> <hr /> <br>The cook house staffs always “da bao” the food for themselves first, before serving the soldiers. Such behaviour must be condemn. You 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 work here to serve the NSF and NSmen, do not take advantage of the situation.<br> <hr /> <br>No wifi, otherwise stay is pleasant with newly renovated toilets. Food here is paid and tastes better compared to other resorts.<br> <hr /> <br>Overall great experience and 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medic
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 was professional with blood draw<br> <hr /> <br>very  good<br> <hr /> <br>Rude 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br> <hr /> <br>Food is fairly nice. Toilet is newly upgraded. Infrastructure is slightly old but usable.<br> <hr /> <br>Not accessible at all.<br> <hr /> <br>A perfect get away vacation from home.<br> <hr /> <br>I heard about how dirty it is. And I've to say, complain at the start of the 
<mark class="entity" style="background: #DCABDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ICT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ICT</span>
</mark>
 to get the cleaners to clean. Helps a ton.<br> <hr /> <br>Military 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 known for being the 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 where reservists come back for training.<br> <hr /> <br>(Translated by Google) Best regards to SAF  (Original) Hormat SAF<br> <hr /> <br>Very good 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
. Get to go home everyday. Toilet macham hotel toilet. Cookhouse not good though. The mess very good. Uncle very rich. He drive merc. 8 sir very expensive, lions den mess is way better. Very close to Mcdonald. Return bus stop …<br> <hr /> <br>extremely poor and rude 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    customer service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br> <hr /> <br>The 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is too ulu. Fifty years ago this was part of the sea<br> <hr /> <br>the officer 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    attitude
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 is not good and no patience to 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. i just don't understand what that he say and he use the unfriendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    tone
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to repeat to me with another language<br> <hr /> <br>Delivery McDonald orders  With GrabFood Delivery 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to the entire battalion in the 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Clementi Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 who are hungry after carrying out their night exercises. Estimated about 100 of McDonald orders and many riders been despatched to …<br> <hr /> <br>Army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br> <hr /> <br>Steadfast we stand<br> <hr /> <br>Clear 
<mark class="entity" style="background: #D0C4DF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    RT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">RT/IPT</span>
</mark>
 or 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 or 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 here.<br> <hr /> <br>An alternate reality for 2 weeks.<br> <hr /> <br>I've been coming here for 
<mark class="entity" style="background: #D0C4DF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    RT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">RT/IPT</span>
</mark>
 and 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 for years and will still be coming here for years to come :(<br> <hr /> <br>Ok lah, this review is based on my visit January 1990, so maybe sikit out of date. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    NSF staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 was ok, typical bo chap, happy like bird to  tio a switch off vocation. 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    MO
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
, on the other hand, seemed si peh buay song. This is probably because he …<br> <hr /> <br>I just don't like it here. Please don't catch me for posting this.<br> <hr /> <br>
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 were not serious; impatient. Undesirably long 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    waiting times
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Would not recommend 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 to a friend.<br> <hr /> <br>Don't bother showing up at the timing assigned to you, you'll end waiting for more than 2 hours only to realise that you're the last person in line. 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Doctors
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 don't really care which is fair because they don't really have a choice but to be there. This 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is a complete waste of space and time.<br> <hr /> <br>Mediocre food with an awesome 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 2.4km route that feels shorter than running on track. Quaint, peaceful and sometimes terribly horrid with 1 lift serving the entire dorm. Great times, will (have to) come back<br> <hr /> <br>(Translated by Google) RTRT !!!  (Original) RTRT !!!<br> <hr /> <br>Give 1 star to this 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br> <hr /> <br>The food is free here!<br> <hr /> <br>Meh. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 is pretty nice.<br> <hr /> <br>Train to be fits<br> <hr /> <br>
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 for SAF<br> <hr /> <br>How do 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 even go to this 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
... Middle of nowhere..<br> <hr /> <br>
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br> <hr /> <br>Nice<br> <hr /> <br>Best 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 ever!<br> <hr /> <br>Great food, friendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Although they seem to have a military theme going on. Just make sure to tell them you're coming beforehand; they take security seriously as you can tell by the barbed wire fencing and the signage proclaiming it to be a protected area<br> <hr /> <br>&quot;Home of the Defenders&quot; basically, went there to visit MRT trains parked in the area<br> <hr /> <br>Secured 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
. Feel safe when you are in 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
. However, not everyone can enter. No photos allowed too.<br> <hr /> <br>Went there for 
<mark class="entity" style="background: #DCABDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ict
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ICT</span>
</mark>
 recently. They recently spent some money to upgrade the bunks' toilets to boutique gym standards 10/10.<br> <hr /> <br>Not a good 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to go<br> <hr /> <br>Takes a extremely long time due to waiting. Overall a complete waste of time.<br> <hr /> <br>
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    People
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 shouting turn out as my alarm clock in the middle of the night. The toilets are pretty new.<br> <hr /> <br>It protecc, It Attacc, but most of all, the food is bad 😂<br> <hr /> <br>Did my 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 here. Good facilities.<br> <hr /> <br>Cookhouse uncle very friendly. If got aircon and wi-fi better.<br> <hr /> <br>😁😁<br> <hr /> <br>S.S.RJ<br> <hr /> <br>just here to read through the NSF reviews LOL<br> <hr /> <br>Why would you be here<br> <hr /> <br>Need more lifts<br> <hr /> <br>Good 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to learn how to attack terrorism and also has kind seargeants unlike 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    bmt
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
<br> <hr /> <br>The 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 is pretty big but we only use two main buildings, each bunk is quite comfy, got a lot of space, can easily have your own area and can customize the area to your liking as well. They just recently renovated the toilets and now they …<br> <hr /> <br>It's an army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
. Duh?<br> <hr /> <br>Free food, free stay. What more can u ask for<br> <hr /> <br>
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is not well kept, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 working there are unbelievably rude.<br> <hr /> <br>Very kind 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 inside 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPD
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. Was constantly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    greeted
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 with smile and patience.<br> <hr /> <br>All 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are professional and knows what they are doing. Idk what the bad reviews is about but for my personal experience, everyone there is very helpful and take initiative to help me out.<br> <hr /> <br>Back to army<br> <hr /> <br>bane of my existence :(<br> <hr /> <br>A fun and relaxing 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
. No stress at all coming here. Love to come here whenever i get called up. Kappa.<br> <hr /> <br>Interestingly enough, all the negative reviews were removed.<br> <hr /> <br>Lousy 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 dk how help 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Ask question also say dont ask me not my taiji...<br> <hr /> <br>Cramp bunks but new toilet. Cook house food is better than some other camps.<br> <hr /> <br>Awesome resort away from civilization. Healthy food cooked by professional cooks provided three meals daily. How much for this benefit? Nothing! In fact, you get money for attending! Five stars!<br> <hr /> <br>(Translated by Google) Words oh.  (Original) Ord oh.<br> <hr /> <br>don't bully me<br> <hr /> <br>No cookhouse but get to book out everyday. Most troublesome thing is discussing what's for lunch. Sidenote: 菜贩@canteen B is bad, real bad<br> <hr /> <br>Idk why so many 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 give negative reviews on this 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 went there for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 is friendly the nsf are cool overall i had a good experience there.<br> <hr /> <br>No cookhouse. NSF need to spend $$$ out of their meagre pay.<br> <hr /> <br>Its okay, but toilets are in rather poor condition. Gedong is probably worse.<br> <hr /> <br>*Classified info<br> <hr /> <br>New toilet is like chalet sia plus the food is like gourmet level cuisine, but sometimes the rice a bit hard. SRF office highly recommended for a visit, friendly commanders and aircon room. There is also a dog show exhibit once in a while …<br> <hr /> <br>Great food, clean toilet xD, lift hasn't been working for 4 months so I force myself to maintain fitness by climbing the stairs every single day POGGERS.<br> <hr /> <br>The 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 overall is fine. Good experience. Just a tip if any of u going for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. DONT GO LATE OR ELSE U have to come back other day to complete the rest.<br> <hr /> <br>So far away in the middle of nowhere.<br> <hr /> <br>Love the big window and comfy bed. Lots of carpark. Highly recommended for a getaway from busy city life. Recommend to visit this café call &quot;Lion Den&quot;. Had a good time.<br> <hr /> <br>Newly renovated toilet but no wifi, aircon, lift, no room 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Book with low expectations<br> <hr /> <br>GNC Present here<br> <hr /> <br>Because it's the stuff of nightmares<br> <hr /> <br>New toilet facilities<br> <hr /> <br>Don’t know what to proof by doing 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
<br> <hr /> <br>Very Professional 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    People
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 down there. Recommended⭐⭐⭐⭐⭐ Very patient kind respectful.. very smooth throughout the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 Check-up.<br> <hr /> <br>Got my silver<br> <hr /> <br>Great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to stay, there is a minimart with friendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 selling army related stuff. The dormitories are old, but the toilets are newly renovated equivalent to a 3 star resort. All meals catered for with the options of halal, non halal, and vegetarian.  The best part, everything is absolutely free. Highly recommended.<br> <hr /> <br>Me and others were treated like dirt.<br> <hr /> <br>Don't be rude to them then they won't be rude to you. Went there for my 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 today. All was fine,
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    counter
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 was friendly too. The negative reviews must be from 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 who just dun want to serve NS and say this and that …<br> <hr /> <br>This is an Army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 and the main training 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 for members of 2PDF (nightmares triggered). The food and facilities could definitely use an upgrade. The queue to book in can be quite long on Sunday evening and Monday morning due to the …<br> <hr /> <br>Inaccessible need 1h 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    travel
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 time to waste more of your time.<br> <hr /> <br>Tough training. But 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is slowly renovated.<br> <hr /> <br>Toilets and showers are grimy. Furnitures in the NSmen bunks are coated with layers of dust, so come prepared to do some cleaning. Pillows are also yellow (probably from soaking up generations of perspiration). Cookhouse has been renovated, but food is bland and meat portions are unsatisfactory. But the 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is quite convenient.<br> <hr /> <br>Those enlisting here, PLEASE make sure you declare all 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 conditions. severe or minor, to the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Medical officer
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 during your 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
.  If you do not believe you will fare well in combat/PES-fit 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    BMT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
, do get a 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical specialist
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 letter from …<br> <hr /> <br>Wooo, real edgy, ziyuan, you should be a novel writer<br> <hr /> <br>Unlike what the other reviews may suggest, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 here were adequately friendly(like anywhere else in sg). The 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is really clean and efficient<br> <hr /> <br>The best in 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 training ever trust me. When your from an infantry unit<br> <hr /> <br>Usual military 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 for recruits &amp; regulars.<br> <hr /> <br>[28/08/18] Tuesday With all the negative reviews, thought I could share my quick personal opinion. Perhaps it varies from person to person, but my trip to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 was ultimately great and definitely a memorable experience :)!  The 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 …<br> <hr /> <br>One of the best resort in singapore<br> <hr /> <br>Tbh, its not that bad of a 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to visit, contrary to what others are saying.<br> <hr /> <br>Unfriendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. The 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    guards
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are doing their job but the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 keep pushing them to do more stuff which they are not suppose to. Absolutely atrocious. There is one woman at the VAC who keeps changing her 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    tone
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 when she talks to 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 and threatens 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to leave. She always removes her mask to talk to 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to show her expressions.<br> <hr /> <br>
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 here every year~<br> <hr /> <br>Just got posted to this resort and I must say I prefer this one on the main island over the one at Tekong. The resort is pretty close to civilisation but it is still a noticeable walk to the bus stop where you have to take public transport, …<br> <hr /> <br>Inconveniet<br> <hr /> <br>Classified Army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br> <hr /> <br>Very good, free food and lodging.<br> <hr /> <br>The gold star of public 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br> <hr /> <br>Filthy toilets and bunks filled with dust and insects<br> <hr /> <br>The new toilet is awesome! Feels like T4! Superb!<br> <hr /> <br>Worst division in the army with the worst units. Only hentak 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 come here. No ability. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    People
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 can AWOL with no repercussions.<br> <hr /> <br>Its ok.<br> <hr /> <br>Highly inaccessible. So hard to get there not near any MRT stations.<br> <hr /> <br>Newly renovated toliet is awesome<br> <hr /> <br>Smelly toilets<br> <hr /> <br>Newly renovated toilets are nice, but the bunks are really showing their age. Have been monitoring a particularly stubborn ceiling leak in a certain bunk - water from the toilet on the floor above leaks through the ceiling and into the …<br> <hr /> <br>Great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to work in.<br> <hr /> <br>Toilet lupsup since past 4 years till today<br> <hr /> <br>Good food, good accommodations, new<br> <hr /> <br>
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Guards
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at gate very rude. Ask question they ignore you. The rest of the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are nice and friendly though.<br> <hr /> <br>Great food and accommodation. Would recommend everyone to try a staycation here for 2 weeks.<br> <hr /> <br>Took 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 here. If you see this sign, follow the road inside to reach the main entrance.<br> <hr /> <br>Training is harsh, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are all in a farce, acting all high and mighty, this is 
<mark class="entity" style="background: #DCABDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ICT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ICT</span>
</mark>
, not 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    BMT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
<br> <hr /> <br>WGT ORD lo. On a more serious note, I did my 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 here. Tough 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
, my friends...<br> <hr /> <br>Very bad Security troopers who have very bad 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    attitude
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 towards public<br> <hr /> <br>Expect yourself to be waiting for at least 3hrs here for any form of meeting. Even till your really bored. Cold air conditioning no wifi<br> <hr /> <br>great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to bring your gf! they provide delicious meals. lodging also available so you can get down to business with your gf after dinner. however sometimes the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 can be rude. middle of the night might ask you to run down and do push up idk why</div>
</figure>
</body>
</html>