<!DOCTYPE html>
<html>
    <div class="logo">
      <h1> DSTA Service Delivery Analytics </h1>


        <div class="dheader">
          <a href="/login">Logout     |</a>
          <a href="/dashboard">Dashboard      |</a>

        </div>
        <hr>
      </div>
      {% block head %} {% endblock %}
      {% block body %} {% endblock %}

</html>

<style>
.dheader {
  background-color: orange;
  color: DarkBlue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.25em;

}

.logo {
  background-color: orange;
  color: DarkBlue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
</style>