{% extends "base2.html" %}

{% block content %}
{{ super() }}

<head>
  <meta charset="utf-8" />

<!-- Import all desired scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js'></script>
</head>

<div class="bar_freq">
	<h1>Frequency of Entities</h1>
	<canvas id="bar_chart" width="400" height="400"></canvas>
	<script>
	// bar chart data
	var barData = {
		labels : {{datatag | tojson }},

		datasets : [{
		fillColor: "rgba(151,187,205,1)",
		strokeColor: "rgba(151,187,205,2)",
		data : {{datafreq | tojson }}
		}
		]
	}

	// get bar chart canvas
	var mybarchart = document.getElementById("bar_chart").getContext("2d");

	// draw bar chart
	new Chart(mybarchart).Bar(barData, {
		// scaleOverride: true,
		// scaleSteps: steps,
		// scaleStepWidth: Math.ceil(max / steps),
		scaleStartValue: 0,
		scaleShowVerticalLines: true,
		scaleShowGridLines : true,
		barShowStroke : true,
		scaleShowLabels: true
		}
	);

	</script>

</div>

<div class="bar_sent">
	<h1>Average Sentiment Score of Entities</h1>
	<p>
		0 : Negative &nbsp; 1 : Neutral &nbsp; 2 : Positive
	</p>
	<canvas id="bar_chart2" width="400" height="400"></canvas>
	<script>
	// bar chart data
	
	var barData2 = {
		labels : {{datatag | tojson }},

		datasets : [{
		fillColor: "rgba(249, 105, 14, 1)",
		strokeColor: "rgba(249, 105, 14,2)",
		data : {{datascore  | tojson }}
		}
		]
	}

	// get bar chart canvas
	var mybarchart2 = document.getElementById("bar_chart2").getContext("2d");

	// draw bar chart
	new Chart(mybarchart2).Bar(barData2, {
		// scaleOverride: true,
		// scaleSteps: steps,
		// scaleStepWidth: Math.ceil(max / steps),
		scaleStartValue: 0,
		scaleShowVerticalLines: true,
		scaleShowGridLines : true,
		barShowStroke : true,
		scaleShowLabels: true
		}
	);

	</script>

</div>



<style>
		.bar_freq {
			height:500px;
			width:500px;
outline: solid 1px black;
			float: left;
			padding: 80px;
		}

		.bar_sent {
			height:500px;
			width:500px;
outline: solid 1px black;
			float:right;
			padding: 80px;
				}


</style>

{% endblock %}
