{% extends "base2.html" %}

{% block content %}
{{ super() }}
<head>
  <meta charset="utf-8" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
</head>

<div class="ts">
    <h1>Sentiment Time series</h1>

    <canvas id="line_chart" width="400" height="400"></canvas>
    <script>
        // line chart data
        var barData = {
        labels : [
            {% for item in labels %}
            "{{ item }}",
            {% endfor %}
        ],

        datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [
        {% for item in values %}
                {{ item }},
            {% endfor %}]
            }
    ]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;

        // get line chart canvas
        var mylinechart = document.getElementById("line_chart").getContext("2d");

        steps = 10
        max = {{ max }}
        // draw line chart
        var LineChartDemo = new Chart(mylinechart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
        });

    </script>
</div>


<div class="piec">
    <h1>Sources</h1>
    <canvas id="pie_chart" width="400" height="400"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in set %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get pie chart canvas
      var mypiechart = document.getElementById("pie_chart").getContext("2d");
      steps = 10
      max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("pie_chart").getContext("2d")).Pie(pieData);

    </script>
</div>

<div class="barp">
    <h1>Positive</h1>
    <canvas id="bar_chart" width="400" height="400"></canvas>
    <script>
    // bar chart data
    var barData = {
        labels : [
        {% for item in labels %}
            "{{ item }}",
        {% endfor %}
    ],

        datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        data : [
            {% for item in values %}
                "{{ item }}",
            {% endfor %}
        ]
        }
        ]
    }

    // get bar chart canvas
    var mybarchart = document.getElementById("bar_chart").getContext("2d");

        steps = 10
        max = {{max}}

    // draw bar chart
    new Chart(mybarchart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
        }
    );

    </script>

</div>

<div class="barn">
    <h1>Negative</h1>
    <canvas id="neg_bar_chart" width="400" height="400"></canvas>
    <script>
    // bar chart data
    var barData = {
        labels : [
        {% for item in labels %}
            "{{ item }}",
        {% endfor %}
    ],

        datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        data : [
            {% for item in values %}
                "{{ item }}",
            {% endfor %}
        ]
        }
        ]
    }

    // get bar chart canvas
    var mynbarchart = document.getElementById("neg_bar_chart").getContext("2d");

        steps = 10
        max = {{max}}

    // draw bar chart
    new Chart(mynbarchart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
        }
    );
    </script>
    <style>
        .ts {
             height:500px;
            width:500px;
outline: solid 1px black;
            float: left;
            padding: 80px;
        }

        .piec {
            height:500px;
            width:500px;
outline: solid 1px black;
            float: right;
            padding: 80px;
        }

        .barp {
            height:500px;
            width:500px;
outline: solid 1px black;
            float: left;
            padding: 80px;
        }

        .barn {
            height:500px;
            width:500px;
outline: solid 1px black;
            float:right;
            padding: 80px;
                }

    </style>
</div>

{% endblock %}




