
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>displaCy</title>
    </head>

    <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
<figure style="margin-bottom: 6rem">
<div class="entities" style="line-height: 2.5; direction: ltr">

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>displaCy</title>
    </head>

    <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
<figure style="margin-bottom: 6rem">
<div class="entities" style="line-height: 2.5; direction: ltr">
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical screening
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 station 5 for height and weight is extremely rude and unfriendly<br>  <br> <hr /> <br>  <br>I went there for my NS 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 today 29 August 8am... Here is what I went through:  Gate Entrance: Security Check &amp; 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Counter
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
, Take a Sticker Pass and just WALK THROUGH the gate... Don't be like me...I stood there thinking I can scan the …<br>  <br> <hr /> <br>  <br>One of the most inconvenient 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    locations
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 I have ever seen. Terrible directions. Rude 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Expect this whole process to take hours. 100% not recommended.<br>  <br> <hr /> <br>  <br>Went inside the canteen is too small and nothing much inside there, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 may know who is doing well in here.<br>  <br> <hr /> <br>  <br>Bad 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br>  <br> <hr /> <br>  <br>Visited 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CPMB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical screening
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 were rude and unprofessional and wasted a lot of time.<br>  <br> <hr /> <br>  <br>Much worse than the poor facilities are the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 running it<br>  <br> <hr /> <br>  <br>Bad 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br>  <br> <hr /> <br>  <br>Just sent my son for the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    pre enlistment checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 this morning.  The 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    guard
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at the entrance couldn't give clear instructions.  Keep shouting when we got our son to alight since we couldn't drive further in. Hello please train your army …<br>  <br> <hr /> <br>  <br>The cook house staffs always “da bao” the food for themselves first, before serving the soldiers. Such behaviour must be condemn. You 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 work here to serve the NSF and NSmen, do not take advantage of the situation.<br>  <br> <hr /> <br>  <br>Rude 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br>  <br> <hr /> <br>  <br>extremely poor and rude 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    customer service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br>  <br> <hr /> <br>  <br>the officer 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    attitude
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 is not good and no patience to 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. i just don't understand what that he say and he use the unfriendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    tone
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to repeat to me with another language<br>  <br> <hr /> <br>  <br>Delivery McDonald orders  With GrabFood Delivery 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to the entire battalion in the 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Clementi Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 who are hungry after carrying out their night exercises. Estimated about 100 of McDonald orders and many riders been despatched to …<br>  <br> <hr /> <br>  <br>Ok lah, this review is based on my visit January 1990, so maybe sikit out of date. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    NSF staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 was ok, typical bo chap, happy like bird to  tio a switch off vocation. 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    MO
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
, on the other hand, seemed si peh buay song. This is probably because he …<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 were not serious; impatient. Undesirably long 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    waiting times
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Would not recommend 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 to a friend.<br>  <br> <hr /> <br>  <br>Meh. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 is pretty nice.<br>  <br> <hr /> <br>  <br>How do 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 even go to this 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
... Middle of nowhere..<br>  <br> <hr /> <br>  <br>Great food, friendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Although they seem to have a military theme going on. Just make sure to tell them you're coming beforehand; they take security seriously as you can tell by the barbed wire fencing and the signage proclaiming it to be a protected area<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    People
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 shouting turn out as my alarm clock in the middle of the night. The toilets are pretty new.<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is not well kept, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 working there are unbelievably rude.<br>  <br> <hr /> <br>  <br>Very kind 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 inside 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPD
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. Was constantly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    greeted
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 with smile and patience.<br>  <br> <hr /> <br>  <br>All 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are professional and knows what they are doing. Idk what the bad reviews is about but for my personal experience, everyone there is very helpful and take initiative to help me out.<br>  <br> <hr /> <br>  <br>Lousy 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 dk how help 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Ask question also say dont ask me not my taiji...<br>  <br> <hr /> <br>  <br>Idk why so many 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 give negative reviews on this 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 went there for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 is friendly the nsf are cool overall i had a good experience there.<br>  <br> <hr /> <br>  <br>Newly renovated toilet but no wifi, aircon, lift, no room 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Book with low expectations<br>  <br> <hr /> <br>  <br>Very Professional 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    People
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 down there. Recommended⭐⭐⭐⭐⭐ Very patient kind respectful.. very smooth throughout the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 Check-up.<br>  <br> <hr /> <br>  <br>Great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to stay, there is a minimart with friendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 selling army related stuff. The dormitories are old, but the toilets are newly renovated equivalent to a 3 star resort. All meals catered for with the options of halal, non halal, and vegetarian.  The best part, everything is absolutely free. Highly recommended.<br>  <br> <hr /> <br>  <br>Don't be rude to them then they won't be rude to you. Went there for my 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 today. All was fine,
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    counter
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 was friendly too. The negative reviews must be from 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 who just dun want to serve NS and say this and that …<br>  <br> <hr /> <br>  <br>Unlike what the other reviews may suggest, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 here were adequately friendly(like anywhere else in sg). The 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is really clean and efficient<br>  <br> <hr /> <br>  <br>Unfriendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. The 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    guards
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are doing their job but the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 keep pushing them to do more stuff which they are not suppose to. Absolutely atrocious. There is one woman at the VAC who keeps changing her 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    tone
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 when she talks to 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 and threatens 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to leave. She always removes her mask to talk to 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to show her expressions.<br>  <br> <hr /> <br>  <br>The gold star of public 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
<br>  <br> <hr /> <br>  <br>Worst division in the army with the worst units. Only hentak 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 come here. No ability. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    People
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 can AWOL with no repercussions.<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Guards
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at gate very rude. Ask question they ignore you. The rest of the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are nice and friendly though.<br>  <br> <hr /> <br>  <br>Training is harsh, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are all in a farce, acting all high and mighty, this is 
<mark class="entity" style="background: #DCABDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ICT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ICT</span>
</mark>
, not 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    BMT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
<br>  <br> <hr /> <br>  <br>Very bad Security troopers who have very bad 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    attitude
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 towards public<br>  <br> <hr /> <br>  <br>great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to bring your gf! they provide delicious meals. lodging also available so you can get down to business with your gf after dinner. however sometimes the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 can be rude. middle of the night might ask you to run down and do push up idk why</div>
</figure>
</body>
</html> <br> <hr /> <br>
</div>
</figure>
</body>
</html>
