 <br>I heard about how dirty it is. And I've to say, complain at the start of the 
<mark class="entity" style="background: #DCABDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ICT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ICT</span>
</mark>
 to get the cleaners to clean. Helps a ton.<br>  <br> <hr /> <br>  <br>Went there for 
<mark class="entity" style="background: #DCABDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ict
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ICT</span>
</mark>
 recently. They recently spent some money to upgrade the bunks' toilets to boutique gym standards 10/10.<br>  <br> <hr /> <br>  <br>Training is harsh, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 are all in a farce, acting all high and mighty, this is 
<mark class="entity" style="background: #DCABDF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    ICT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">ICT</span>
</mark>
, not 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    BMT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
<br>  <br> <hr /> <br>