
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>displaCy</title>
    </head>

    <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
<figure style="margin-bottom: 6rem">
<div class="entities" style="line-height: 2.5; direction: ltr">

 <br>One of the most inconvenient 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    locations
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 I have ever seen. Terrible directions. Rude 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Expect this whole process to take hours. 100% not recommended.<br>  <br> <hr /> <br>  <br>Not bad a 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
.... provided your boss is not a d***....<br>  <br> <hr /> <br>  <br>Great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to have your 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 Training. Instructors are professional.<br>  <br> <hr /> <br>  <br>Was here for pre-enlistment 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    screening
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
, a few Counselling sessions &amp; to answer a charge. Inconvenient 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
.<br>  <br> <hr /> <br>  <br>Very good 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
. Get to go home everyday. Toilet macham hotel toilet. Cookhouse not good though. The mess very good. Uncle very rich. He drive merc. 8 sir very expensive, lions den mess is way better. Very close to Mcdonald. Return bus stop …<br>  <br> <hr /> <br>  <br>The 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is too ulu. Fifty years ago this was part of the sea<br>  <br> <hr /> <br>  <br>Don't bother showing up at the timing assigned to you, you'll end waiting for more than 2 hours only to realise that you're the last person in line. 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Doctors
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 don't really care which is fair because they don't really have a choice but to be there. This 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is a complete waste of space and time.<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 for SAF<br>  <br> <hr /> <br>  <br>How do 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 even go to this 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
... Middle of nowhere..<br>  <br> <hr /> <br>  <br>Secured 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
. Feel safe when you are in 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
. However, not everyone can enter. No photos allowed too.<br>  <br> <hr /> <br>  <br>Not a good 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to go<br>  <br> <hr /> <br>  <br>Good 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to learn how to attack terrorism and also has kind seargeants unlike 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    bmt
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is not well kept, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 working there are unbelievably rude.<br>  <br> <hr /> <br>  <br>A fun and relaxing 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
. No stress at all coming here. Love to come here whenever i get called up. Kappa.<br>  <br> <hr /> <br>  <br>Idk why so many 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 give negative reviews on this 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 went there for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 is friendly the nsf are cool overall i had a good experience there.<br>  <br> <hr /> <br>  <br>The 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 overall is fine. Good experience. Just a tip if any of u going for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. DONT GO LATE OR ELSE U have to come back other day to complete the rest.<br>  <br> <hr /> <br>  <br>Great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to stay, there is a minimart with friendly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 selling army related stuff. The dormitories are old, but the toilets are newly renovated equivalent to a 3 star resort. All meals catered for with the options of halal, non halal, and vegetarian.  The best part, everything is absolutely free. Highly recommended.<br>  <br> <hr /> <br>  <br>Inaccessible need 1h 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    travel
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 time to waste more of your time.<br>  <br> <hr /> <br>  <br>Tough training. But 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is slowly renovated.<br>  <br> <hr /> <br>  <br>Toilets and showers are grimy. Furnitures in the NSmen bunks are coated with layers of dust, so come prepared to do some cleaning. Pillows are also yellow (probably from soaking up generations of perspiration). Cookhouse has been renovated, but food is bland and meat portions are unsatisfactory. But the 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is quite convenient.<br>  <br> <hr /> <br>  <br>Unlike what the other reviews may suggest, 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 here were adequately friendly(like anywhere else in sg). The 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 is really clean and efficient<br>  <br> <hr /> <br>  <br>Tbh, its not that bad of a 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to visit, contrary to what others are saying.<br>  <br> <hr /> <br>  <br>Great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to work in.<br>  <br> <hr /> <br>  <br>WGT ORD lo. On a more serious note, I did my 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 here. Tough 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
, my friends...<br>  <br> <hr /> <br>  <br>great 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    place
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to bring your gf! they provide delicious meals. lodging also available so you can get down to business with your gf after dinner. however sometimes the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 can be rude. middle of the night might ask you to run down and do push up idk why</div>
</figure>
</body>
</html> <br> <hr /> <br>
</div>
</figure>
</body>
</html>
