
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>displaCy</title>
    </head>

    <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
<figure style="margin-bottom: 6rem">
<div class="entities" style="line-height: 2.5; direction: ltr">

 <br>Military 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 known for being the 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 where reservists come back for training.<br>  <br> <hr /> <br>  <br>This is an Army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 and the main training 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 for members of 2PDF (nightmares triggered). The food and facilities could definitely use an upgrade. The queue to book in can be quite long on Sunday evening and Monday morning due to the reservist and NSFs 
<mark class="entity" style="background: #635d5c; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    booking
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">PORTAL</span>
</mark>
 in at the same time. For cabbies, do look out for masses of reservists being dismissed en masse on Friday late afternoon or so.<br>  <br> <hr /> <br>  <br>Army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br>  <br> <hr /> <br>  <br>Give 1 star to this 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br>  <br> <hr /> <br>  <br>The 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 is pretty big but we only use two main buildings, each bunk is quite comfy, got a lot of space, can easily have your own area and can customize the area to your liking as well. They just recently renovated the toilets and now they look really fresh, can compare to swimming pool toilet and just short of being a home toilet. Cookhouse got a renovation and now looks very clean. Sometimes they serve good food and sometimes not so good, just like Russian roulette. Canteen 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 very friendly, can make conversation and their food is very affordable. Distance from bunk is only across one road so walk or march there also not far. Training is close to bunk area so during training can still look up and see your laundry outside the window which will remind you that rest time will come soon. Training is quite tough but has nothing to do with the 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 itself. 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 2.4km path very good and provides a comfortable run. Overall I didn't like coming back but the facilities make the 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 tolerable.<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br>  <br> <hr /> <br>  <br>It's an army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
. Duh?<br>  <br> <hr /> <br>  <br>Usual military 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 for recruits &amp; regulars.<br>  <br> <hr /> <br>  <br>The best in 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 training ever trust me. When your from an infantry unit<br>  <br> <hr /> <br>  <br>New toilet is like chalet sia plus the food is like gourmet level cuisine, but sometimes the rice a bit hard. SRF office highly recommended for a visit, friendly commanders and aircon room. There is also a dog show exhibit once in a while from the K-9 unit. Shuttle bus 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Clementi
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 MRT after the visit also, so worth why not come visit?<br>  <br> <hr /> <br>  <br>Best 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 ever!<br>  <br> <hr /> <br>  <br>Delivery McDonald orders  With GrabFood Delivery 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 to the entire battalion in the 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Clementi Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 who are hungry after carrying out their night exercises. Estimated about 100 of McDonald orders and many riders been despatched to delivered this orders, there are from McDonald Delivery riders, GrabFood Delivery riders, FoodPanda Delivery riders. Either by motor bike, skate scooter or bicycle.<br>  <br> <hr /> <br>  <br>Lack of public transport and far away from 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    clementi
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 mall.<br>  <br> <hr /> <br>  <br>This is an Army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 and the main training 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
 for members of 2PDF (nightmares triggered). The food and facilities could definitely use an upgrade. The queue to book in can be quite long on Sunday evening and Monday morning due to the reservist and NSFs 
<mark class="entity" style="background: #635d5c; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    booking
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">PORTAL</span>
</mark>
 in at the same time. For cabbies, do look out for masses of reservists being dismissed en masse on Friday late afternoon or so.<br>  <br> <hr /> <br>  <br>It's an army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br>  <br> <hr /> <br>  <br>Classified Army 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
<br>  <br> <hr /> <br>  <br>Secured 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    location
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
. Feel safe when you are in 
<mark class="entity" style="background: #CBEFB6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    camp
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CAMP</span>
</mark>
. However, not everyone can enter. No photos allowed too.<br>  <br> <hr /> <br>
</div>
</figure>
</body>
</html>
