
<html>
  <div class="loginbox">
  	<img src="https://www.dsta.gov.sg/Html/Blk71/images/logo-dsta.png">
    <h1> DSTA Service Delivery Analytics Dashboard </h1>
   
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
       <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>


      <!-- <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="pass">Password:</label><br>
      <input type="password" id="pass" name="pass"><br>
      <input type="submit" value="Submit"> -->

    </form>
  </div>

  <iframe src="/log_stream" width="400" height="200"></iframe>

  <div class="foot">
  Made for DSTA by Group 10, BT4103 Capstone Project 
</div>
  <style>
	.loginbox {
	  position: relative;
	  text-align: center;
	  height: 450px;
	  width: 300px;
	  padding: 30px;
	  margin: auto;
	  background-color: orange;
	  color: DarkBlue;
	  font-family: Arial, Helvetica, sans-serif;
     box-shadow: 5px 5px;
	}

  p {
    font-size: 1.15em;
  }

  .foot {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: orange;
    color: DarkBlue;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
</html>