stanza==1.2
Flask==1.1.2
regex==2020.11.13
Flask_WTF==0.14.3
praw==7.1.4
WTForms==2.3.3
firebase_admin==4.5.3
nltk==3.5
Pyrebase4==4.4.3
requests==2.24.0
tqdm==4.58.0
numpy==1.19.5
spacy==3.0.5
loguru==0.5.3
selenium==3.141.0
pandas==1.1.3
pyrebase==3.0.27
scikit_learn==0.24.1
