
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>displaCy</title>
    </head>

    <body style="font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; padding: 4rem 2rem; direction: ltr">
<figure style="margin-bottom: 6rem">
<div class="entities" style="line-height: 2.5; direction: ltr">

 <br>So is it mean my this window, I never take 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 and then next window open I just go for the 10 
<mark class="entity" style="background: #EEE2DF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    session
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">TRAINING</span>
</mark>
?? Still need report to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 or not haha.<br>  <br> <hr /> <br>  <br>So is it mean my this window, I never take 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 and then next window open I just go for the 10 
<mark class="entity" style="background: #EEE2DF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    session
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">TRAINING</span>
</mark>
?? Still need report to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 or not haha.<br>  <br> <hr /> <br>  <br>So is it mean my this window, I never take 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 and then next window open I just go for the 10 
<mark class="entity" style="background: #EEE2DF; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    session
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">TRAINING</span>
</mark>
?? Still need report to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 or not haha.<br>  <br> <hr /> <br>  <br>Would emailing an MP help? Hello, so I have been on pes D for quite a few months and one appointment is still pending. I called and emailed 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 but they just said they will schedule in a few months?? I am afraid my enlistment would be delayed and its quite worrying to be perpetually pes D. Would emailing my member of parliament to speed things up be helpful? Is there any other way to speed things up? Thanks! Edit: The pending appointment has not been scheduled yet. When I called to ask, they said they will schedule mucb later but not sure when, so I want to speed this up.<br>  <br> <hr /> <br>  <br>poly graduate ns deferment. So i graduated from poly this year and i declared i had depression and followed up with a psych check at 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    cmpb
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
. the psych evaluated and told me i would be deferred for a year to seek help and improve my condition  idk what is going on right now i have not received any follow-up letter and my current pes status is still D for a long time.  I tried to make appointments to NUH as the psych told me but they asked me for documents from NS to make an appointment do I contact 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    cmpb
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 to get those documents?<br>  <br> <hr /> <br>  <br>Poly students with no enlistment letter. I know with the CB, enlistment is deferred without affecting ORD but was wondering if there were any other poly students who still haven't gotten their enlistment letters.  &amp;#x200B;  Edit: I was assigned PES BP last year from 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
's enlistment date, there's only one more PES BP enlistment in July 20.  .<br>  <br> <hr /> <br>  <br>I think the appointment needs to be made by 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
. Also, I will graduate in a couple of months, but the problem is the appointment will also be made in more than a couple of months according to the call so there might be a delay. Last time they told me the appointment will be made in about 3 months, its already been 5 months since then and when I called today they said they still need a few more months?<br>  <br> <hr /> <br>  <br>What's your PES status? You might need to check and call up 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 first.<br>  <br> <hr /> <br>  <br>- About the same as everyone else, you’ll probably be getting a less physical intensive NS, as well as have to serve the full 24 months unlike your combat fit peers who have a chance at a 2 month reduction with an 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 pass. You will also never need to do 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
. You will also not be able to enter SCS and OCS due to this status, but can be promoted to 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 3SG as a supervisor for a 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 role, without going to SCS.  - I’m not certain. I didn’t serve a non combat fit 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    BMT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
, but I believe confinement is 1 week for those below C2.  - Only 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 vocations and occasionally combat support vocations. More info can be found on the 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 PES status website. Usually C2 and below fill the roles of 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 STs, Clerks, Supply Assistants and Drivers.  - Yep, if they call you back.<br>  <br> <hr /> <br>  <br>Always contact 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 if in doubt. They can be pretty useless sometimes about stuff like this. Best to follow up yourself.<br>  <br> <hr /> <br>  <br>I’m late but honestly it can be any batch. Go to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
, look up the enlistment dates for combat fit (PES A or B1). JC batch is usually Jan/April, Poly batch is July/October. You can be placed in any batch.<br>  <br> <hr /> <br>  <br>Best thing to do is to visit 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 with a parent and ask them if you can meet the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical officer
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 there, it will definitely speed things up.<br>  <br> <hr /> <br>  <br>Have you tried making the appointment by yourself at a public hospital’s outpatient clinic? Or is it a must for 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 to make the appointment for you?  Are you graduating soon?<br>  <br> <hr /> <br>  <br>My appointment is with a 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    specialist
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    doctor
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 under 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 though and not a regular 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical officer
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. But thanks for the suggestion!<br>  <br> <hr /> <br>  <br>I thought they look at your results from your test you did at 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
?<br>  <br> <hr /> <br>  <br>You need to attend all your appointments and follow ups. Once it is done, 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 will process the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 reports and the findings before they can give you your finalised PES grade.  PES D is pending further review. I was on PES D for 1 month as they needed to test my blood for hepatitis due to family history.  Emailing your MP won’t do much of a help actually. Another way to “speed up” is to give them a call every few days after you finished your final 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 appointment.<br>  <br> <hr /> <br>  <br>I took a MAPAS test at 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    cmpb
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 but i tot it might be for future vocation since i in mono intake . Supposedly to do Interview at 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    cmpb
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 after pop but they told me that i didnt pass the requirements so i enquired with SAF side becos i also choose SAF , so they told me this MAPAS test might have to do something with AF.   Just a note that i am a ex graduate for ITE TED Diploma and they still have trouble accepting TED as a diploma so they will take ur Highest Qualification which is Higher Nitec and you will be posted as a airforce technician and you might earn lesser but since they are willing to take in WSDip from ITE then shldnt be a problem for you.<br>  <br> <hr /> <br>  <br>After declaring it likely you will be  called to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 for a 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 review of your pes status and a change in your PES might result in a different enlistment date.<br>  <br> <hr /> <br>  <br>If you didn’t take 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 in school and didn’t declare anything to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
, they will just assume you failed your 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
 and put you into the JC PTP 
<mark class="entity" style="background: #ADA8B6; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    BMT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">BMT</span>
</mark>
 batch. Which falls *usually* in early February. You’ll serve an extra 2 months of NS because you didn’t take 
<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    IPPT
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">IPPT</span>
</mark>
.<br>  <br> <hr /> <br>  <br>You still can defer even you get your enlistment date letter.. you just need to go to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    cmpb
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 to ask for deferment then is up to the them to approve mostly they will approve it. To me study first is better at least you can work with your diploma straight after army if you don’t want to study anymore. Depend on 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 kick start your study engine maybe quite hard after doing 2 years of NS. Plus you get free 3SG in SPF if you got diploma that what happen to mine friends.<br>  <br> <hr /> <br>  <br>Just sent my son for the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    pre enlistment checkup
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 this morning.  The 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    guard
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 at the entrance couldn't give clear instructions.  Keep shouting when we got our son to alight since we couldn't drive further in. Hello please train your army personnel to give specific clear information. What do u mean by make a u turn n alight outside.  Outside where . Then inform us : civilians are not allow in to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 Drop off outside 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 along the road<br>  <br> <hr /> <br>  <br>
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 were not serious; impatient. Undesirably long 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    waiting times
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
. Would not recommend 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 to a friend.<br>  <br> <hr /> <br>  <br>Ok lah, this review is based on my visit January 1990, so maybe sikit out of date. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    NSF staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 was ok, typical bo chap, happy like bird to  tio a switch off vocation. 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    MO
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
, on the other hand, seemed si peh buay song. This is probably because he kena serve up his hard earned education as a lowly NSF, albeit with a rank of captain. I'm sure he's since made his millions in the private sector, and is much nicer. I guess my point is, just go in, bend over and 2 years will pass you by. 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 is just another cog in the behemoth government machine. Don't expect stellar 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    service
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
, seriously. Ini bukan hotel, kawan.<br>  <br> <hr /> <br>  <br>Visited 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CPMB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 for 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical screening
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 were rude and unprofessional and wasted a lot of time.<br>  <br> <hr /> <br>  <br>[28/08/18] Tuesday With all the negative reviews, thought I could share my quick personal opinion. Perhaps it varies from person to person, but my trip to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 was ultimately great and definitely a memorable experience :)!  The 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 officers were friendly and honest. They answered any questions I threw at them swiftly and accurately. The best part for me was the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 around me (my fellow future NS brothers) doing the 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 test as they were friendly as well, hopefully I will see them again serving the nation together!! 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Travelling
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 to 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPB
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 was definitely a hassle no doubt as it is located in an inconvenient spot, but it was a great journey overall for me since it allowed me to further venture my knowledge of the different places in Singapore.  Pros • Instructions were clear and precise • Friendly, cool-headed 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 and fellow pre-enlistees • The 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 Officers are well-trained in handling all the equipments at their disposal, especially the blood test needles 😁 • None of the 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Staff
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 and 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    Medical
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 Officers were rude to anyone of us on this day  Cons • Total time spent 
<mark class="entity" style="background: #fbba72; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    travelling
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">LOCATION</span>
</mark>
 plus all the relevant 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    health
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
 screenings (8.30am - 2.30pm) • Still not a major fan of the blood test (But definitely grateful for professional NS 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical officer
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
)<br>  <br> <hr /> <br>  <br>Very kind 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    people
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 inside 
<mark class="entity" style="background: #717ec3; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    CMPD
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">CMPB</span>
</mark>
 
<mark class="entity" style="background: #EE8434; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    medical check up
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">MEDICAL</span>
</mark>
. Was constantly 
<mark class="entity" style="background: #9b1d20; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">
    greeted
    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; vertical-align: middle; margin-left: 0.5rem">SERVICE</span>
</mark>
 with smile and patience.<br>  <br> <hr /> <br>
</div>
</figure>
</body>
</html>
